@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Belanosima', sans-serif;
  /* font-family: "Madimi One", sans-serif; */
  /* font-family: "Bebas Neue", sans-serif; */
}

.title-section {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 15px #424242;
  color: #ffff;
  font-size: 24px;
  padding-top: 90px;
  padding-bottom: 70px;
}

.color-span {
  color: purple;
}

a {
  text-decoration: none;
}

/* TOGGLE */
/* TOGGLE */
/* TOGGLE */

.container-toggle {
  width: 80px;
}

.container-toggle > img {
  width: 30px;
}

.container-toggle > img:hover {
  cursor: pointer;
}

/* EOF TOGGLE */
/* EOF TOGGLE */
/* EOF TOGGLE */

/* TOGGLE THEME */
/* TOGGLE THEME */
/* TOGGLE THEME */

#theme {
  border: none;
  background: none;
}

#theme:hover {
  cursor: pointer;
}

#theme > img {
  width: 25px;
}

.color-dark {
  color: white;
  transition: 500ms;
}

.color-light {
  transition: 500ms;
  color: #292929;
}

.container-theme-dark {
  transition: 500ms;
  background-image: url("media/theme/dark/background-dark.svg");
}

.container-theme-light {
  transition: 500ms;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

/* EOF TOGGLE THEME */
/* EOF TOGGLE THEME */
/* EOF TOGGLE THEME */

/* TOGGLE LANG */
/* TOGGLE LANG */
/* TOGGLE LANG */

#lang {
  border: none;
  background: none;
}

#lang:hover {
  cursor: pointer;
}

#lang > img {
  width: 25px;
}

/* EOF TOGGLE LANG */
/* EOF TOGGLE LANG */
/* EOF TOGGLE LANG */

/* SOCIAL LINK HEADER */
/* SOCIAL LINK HEADER */
/* SOCIAL LINK HEADER */

.container-home-social-link {
  grid-column: a / c;
  grid-row: d / e;
  justify-self: center;
  align-self: center;
}

.ul-social-link > li {
  display: inline;
  margin: 2px;
}

.ul-social-link > li > a > img {
  width: 20px;
  border-radius: 10px;
  padding: 5px;
  background: #272727;
  box-shadow:  20px 20px 60px #242424,
               -20px -20px 60px #3a3a3a;
               padding: 10px;
}

/* EOF SOCIAL LINK HEADER */
/* EOF SOCIAL LINK HEADER */
/* EOF SOCIAL LINK HEADER */

/* BACKGROUND FIXED */
/* BACKGROUND FIXED */
/* BACKGROUND FIXED */

#background-fixed {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* EOF BACKGROUND FIXED */
/* EOF BACKGROUND FIXED */
/* EOF BACKGROUND FIXED */

/* LOADING */
/* LOADING */
/* LOADING */

.container-loading-text {
  display: grid;
  position: fixed;
  height: 100vh;
  bottom: 0;
  width: 100%;
  animation: remove 4s forwards;
  background-color: #2b2b2b;
  z-index: 333;
}

.container-loading-text > p {
  font-size: 100px;
  font-weight: 900;
  justify-self: center;
  align-self: center;
  color: transparent;
  font-family: 'Courier New', Courier, monospace;
}

.container-loading-text-first {
  animation: loading-text 1.5s forwards;
  animation-delay: 0.5s;
}

.container-loading-text-second {
  animation: loading-text 1.5s forwards;
  animation-delay: 1s;
}

.container-loading-text-last {
  animation: loading-text 1.5s forwards;
  animation-delay: 1.5s;
}

@keyframes loading-text {
  0% {
    color: transparent;
  }

  100%{
    color: #ca4747;
    text-shadow: 0 0 15px #0ecbd8;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes remove {
  100% {
    visibility: hidden;
  }
}

/* EOF LOADING */
/* EOF LOADING */
/* EOF LOADING */

/* HEADER */
/* HEADER */
/* HEADER */

#header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 100%;
}

.header-dark {
  box-shadow: 0 0 15px black;
  backdrop-filter: blur(20px);
  color: white;
}

.header-light > nav > a > h1 {
  color: black;
}

.header-light {
  backdrop-filter: blur(10px);
  color: dark;
  box-shadow: 0 0 15px rgb(36, 36, 36);
}

h1 {
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid #ffffff00;
  font-weight: 400;
}

h1:hover {
  border-bottom: 1px solid #0ecbd8;
}

.container {
  margin: 0;
  padding: 15px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.burger-logo {
  width: 20px;
}

.logo {
  width: 20px;
}

.li-nav-top-dark {
  color: white;
  padding: 5px;
  text-decoration: underline;
  transition: 300ms ease-in-out;
  text-transform: uppercase;
}

.li-nav-top-dark:hover {
  outline: 2px solid #0ecbd8;
  text-decoration: none;
  color: #0ecbd8;
  transition: 100ms ease-in;
}

.li-nav-top-light {
  color: rgb(0, 0, 0);
  padding: 5px;
  text-decoration: underline;
  transition: 300ms ease-in-out;
  text-transform: uppercase;
}

.li-nav-top-light:hover {
  outline: 2px solid #000000;
  text-decoration: none;
  color: #000000;
  transition: 100ms ease-in;
}

#toggler:checked + label img.burger-logo {
  content: url("media/theme/dark/fermer.png");
  width: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.list-nav-top {
  list-style: none;
  display: flex;
  gap: 15px;
}

#toggler, .navbar label {
  display: none;
}

.social-link {
  justify-self: center;
}

@media screen and (max-width: 30000px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }

  #to-home {
    margin-top: 30px;
  }

  .list-nav-top {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
      
  #toggler:checked ~ .menu {
    max-height: 300px;
    transition: max-height 0.5s ease-in-out;
  }

}

/* EOF HEADER */
/* EOF HEADER */
/* EOF HEADER */

/* HOME */
/* HOME */
/* HOME */

#home {
  height: 100vh;
  z-index: 132;
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [c];
  grid-template-rows: [a] 1fr [b] 1fr [c] 1fr [d] 1fr [e] 1fr [f] 1fr [g];
}

.container-home-hello {
  grid-row: a / b;
  grid-column: a / c;
  justify-self: center;
  align-self: flex-end;
  margin-top: 120px;
}

.container-home-picture {
  grid-row: b / c;
  grid-column: a / c;
  justify-self: center;
  align-self: flex-end;
  margin-top: 30px;
}

#home-picture {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.container-home-download {
  grid-row: e / f;
  grid-column: a / c;
  justify-self: center;
  align-self: center;
}

#download {
  padding: 15px;
  font-size: 14px;
  border-radius: 30px;
  background: none;
  transition: 300ms;
  border: none;
}

.download-dark {
  color: white;
  outline: 2px solid white;
}

.download-light {
  color: #1b1b1b;
  outline: 2px solid #1b1b1b;
}

.download-dark:hover {
  cursor: pointer;
  box-shadow: 0 0 15px white;
  transition: 300ms;
}

.download-light:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #000000;
  outline: 2px solid #000000;
  color: #000000;
  transition: 300ms;
}

.container-home-bottom {
  grid-column: a / c;
  grid-row: f / g;
  justify-self: center;
  align-self: center;
}

.home-bottom-dark {
  width: 25px;
  border: 2px solid white;
  border-radius: 25px;
  padding: 7px;
  transform: rotate(180deg);
  transition: 300ms;
}

.home-bottom-dark:hover {
  box-shadow: 0 0 15px white;
  transition: 300ms;
}

.home-bottom-light {
  width: 25px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  padding: 7px;
  transform: rotate(180deg);
  transition: 300ms;
}

.home-bottom-light:hover {
  box-shadow: 0 0 15px rgb(0, 0, 0);
  transition: 300ms;
}

/* EOF HOME */
/* EOF HOME */
/* EOF HOME */

/* ABOUT */
/* ABOUT */
/* ABOUT */

#about {
  width: 70%;
  margin-left: 15%;
}

.container-about-bloc {
  border-radius: 20px;
background: #2f2f2f;
box-shadow:  20px 20px 60px #242424,
             -20px -20px 60px #3a3a3a;
             padding: 40px;
             margin-top: 20px;
             display: grid;
             grid-template-columns: [a] 1fr [b] 1fr [c];
             grid-template-rows: [a] 1fr [b] 1fr [c];
}

.container-about-bloc-number {
  grid-column: a / b;
  grid-row: a / b;
  justify-self: start;
  align-self: flex-start;
}

.container-about-bloc > p {
  grid-column: a / c;
  grid-row: b / c;
  justify-self: center;
  align-self: center;
}

.container-about-bloc-number-span {
  color: purple;
  border-radius: 20px;
  background: #292929;
  box-shadow:  20px 20px 60px #242424,
               -20px -20px 60px #3a3a3a;
               padding: 15px;
               position: relative;
               font-size: 30px;
}

.container-about-logo {
  width: 50%;
  grid-row: a / b;
  grid-column: a / c;
  justify-self: center;
  align-self: center;
}

.container-about-bloc-last {
  margin-bottom: 50px;
}

/* RESPONSIVE ABOUT */
/* RESPONSIVE ABOUT */
/* RESPONSIVE ABOUT */

@media screen and (min-width: 400px) {
  #about {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  #about {
    width: 70%;
    margin-left: 15%;
  }
  .container-about-bloc {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [];
  }

  .container-about-logo {
    justify-self: center;
    align-self: center;
  }

  .container-about-bloc > p {
    justify-self: center;
    align-self: center;
  }
}

@media screen and (min-width: 900px) {
  .container-about-bloc {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-about-logo {
    width: 180px;
  }
}

@media screen and (min-width: 1400px) {
  .container-about-bloc {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* EOF RESPONSIVE ABOUT */
/* EOF RESPONSIVE ABOUT */
/* EOF RESPONSIVE ABOUT */

/* EOF ABOUT */
/* EOF ABOUT */
/* EOF ABOUT */

/* TYPING */
/* TYPING */
/* TYPING */

.container-typing {
  grid-row: c / d;
  grid-column: a / c;
  justify-self: center;
  align-self: center;
}

.container-typing p {
  text-align: center;
  overflow: hidden;
}

.container-typing p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.container-typing p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/* EOF TYPING */
/* EOF TYPING */
/* EOF TYPING */

/* SKILLS */
/* SKILLS */
/* SKILLS */

#skills {
  width: 70%;
  margin-left: 15%;
}

.container-skills-card {
  border-radius: 20px;
  background: #2f2f2f;
  box-shadow:  20px 20px 60px #242424,
              -20px -20px 60px #3a3a3a;
  padding: 40px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [c];
  grid-template-rows: [a] 50px [b] 1fr [c] 60px [d];
}

.container-skills-card-number-span {
  color: purple;
  border-radius: 20px;
  background: #292929;
  box-shadow: 20px 20px 60px #242424,
              -20px -20px 60px #3a3a3a;
  padding: 15px;
  position: relative;
  font-size: 30px;
}

.container-skills-card-picture {
  width: 50%;
  grid-row: b / c;
  grid-column: a / c;
  justify-self: center;
  align-self: center;
}

.container-skills-card-title {
  grid-row: a / b;
  grid-column: a / c;
  justify-self: start;
  align-self: center;
  margin-left: 60px;
  color: white;
  text-transform: uppercase;
}

.container-skills-card-number {
  grid-row: a / b;
  grid-column: a / b;
  justify-self: start;
  align-self: flex-start;
}

.container-skills-card-rank {
  grid-row: c / d;
  grid-column: a / c;
  justify-self: center;
  align-self: center;
  display: inline;
}

.container-skills-card-rank > img {
  width: 20px;
}

/* EOF SKILLS */
/* EOF SKILLS */
/* EOF SKILLS */

/* PORTFOLIO */
/* PORTFOLIO */
/* PORTFOLIO */

#portfolio {
  width: 70%;
  margin-left: 15%;
}

.container-portfolio-card {
  border-radius: 20px;
  background: #2f2f2f;
  box-shadow:  20px 20px 60px #242424,
              -20px -20px 60px #3a3a3a;
  padding: 40px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [c];
  grid-template-rows: [a] 50px [b] 1fr [c] 60px [d];
}

.container-portfolio-card-number-span {
  color: purple;
  border-radius: 20px;
  background: #292929;
  box-shadow: 20px 20px 60px #242424,
              -20px -20px 60px #3a3a3a;
  padding: 15px;
  position: relative;
  font-size: 30px;
}

.container-portfolio-card-title {
  grid-row: a / b;
  grid-column: a / c;
  justify-self: start;
  align-self: center;
  margin-left: 60px;
  color: white;
  text-transform: uppercase;
}

.container-portfolio-card > img {
  width: 100%;
  grid-row: b / c;
  grid-column: a / c;
  justify-self: center;
  align-self: center;
}

.container-portfolio-card-button {
  width: 80%;
  text-decoration: none;
  grid-column: a / c;
  align-self: center;
  padding: 15px;
  text-align: center;
  justify-self: center;
  color: white;
  border-radius: 15px;
  background: #292929;
  box-shadow: 20px 20px 60px #242424,
              -20px -20px 60px #3a3a3a;
}